include LICENSE
include README.rst
recursive-include loosecms_doc/locale *
recursive-include loosecms_doc/templates *
recursive-include loosecms_doc/templatetags *
recursive-include loosecms_doc/management *
recursive-include loosecms_doc/migrations *